<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>CheckLogin</servlet-name>
        <servlet-class>controller.CheckLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginTableData</servlet-name>
        <servlet-class>model.common.LoginTableData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataConnection</servlet-name>
        <servlet-class>model.dataaction.DataConnection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginTableAction</servlet-name>
        <servlet-class>model.dataaction.LoginTableAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertReg</servlet-name>
        <servlet-class>controller.insert.InsertReg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertPerInfo</servlet-name>
        <servlet-class>controller.insert.InsertPerInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertStatus</servlet-name>
        <servlet-class>controller.insert.InsertStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewInfo</servlet-name>
        <servlet-class>controller.View.ViewInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPerInfo</servlet-name>
        <servlet-class>controller.EditPerInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchInfo</servlet-name>
        <servlet-class>controller.View.FetchInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadPic</servlet-name>
        <servlet-class>controller.insert.UploadPic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertPhotoComment</servlet-name>
        <servlet-class>controller.insert.InsertPhotoComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertStatusLike</servlet-name>
        <servlet-class>controller.insert.InsertStatusLike</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckLogin</servlet-name>
        <url-pattern>/CheckLogin.Do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginTableData</servlet-name>
        <url-pattern>/LoginTableData.Do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataConnection</servlet-name>
        <url-pattern>/DataConnection.Do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginTableAction</servlet-name>
        <url-pattern>/LoginTableAction.Do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertReg</servlet-name>
        <url-pattern>/InsertReg.Do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home.Do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertPerInfo</servlet-name>
        <url-pattern>/InsertPerInfo.Do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertStatus</servlet-name>
        <url-pattern>/InsertStatus.Do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewInfo</servlet-name>
        <url-pattern>/ViewInfo.Do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPerInfo</servlet-name>
        <url-pattern>/EditPerInfo.Do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchInfo</servlet-name>
        <url-pattern>/FetchInfo.Do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadPic</servlet-name>
        <url-pattern>/UploadPic.Do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertPhotoComment</servlet-name>
        <url-pattern>/InsertPhotoComment.Do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertStatusLike</servlet-name>
        <url-pattern>/InsertStatusLike.Do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
